body {
  color: black;
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  background-color: #f8f8f8;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 2px solid #222;
  margin-top: 1rem;
  background-color: #343a40;
  color: blue;
}

a {
  color: #00e;
  text-decoration: none;
}
